* {
    margin: 0;
}

body {
    background: #444444;
}

h1 {
    background: black;
    color: white;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
}

.blank {
    background: black;
}

.package {
    color: white;
    background: #222222;
}

.crawlies {
    background: skyblue;
}

.yes {
    background: forestgreen;
}

.no {
    background: indianred;
}