/* BASIC ***************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

:root {
    --main-color: #4D5061;
    --main-color-dark: #363844;
    --accent-one: #5A9367;
    --accent-two: #E7E247;
    --dark-color: #3D3B30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* HEADER **************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/

header {
    background: white;
    box-shadow: 0 1px 4px 0 var(--dark-color);
    width: 100%;
    position: relative;
    height: min-content;
    /*height: 115px;*/
    font-size: 2.2rem;
    margin: 0 auto;
}

.header-container {
    max-width: 1400px;
    padding: 38px 24px 20px;
    margin: 0 auto;
}


/* Socials ***********************************************************/
/*********************************************************************/

.socials-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.socials-container .social-item {
    margin-right: 30px;
}

.socials-container .social-item:last-child {
    margin-right: 0;
}

.social-item {
    display: inline-block;
    width: 28px;
}


/* Nav ***************************************************************/
/*********************************************************************/


.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 7px;
}

.bar {
    width: 32px;
    height: 4px;
    background: var(--main-color);
    border-radius: 10px;
    transition: 0.3s;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-container, .socials-container {
    display: none;
}

.nav-logo {
    font-size: 50px;
    font-family: "Segoe Script", Veranda, serif;
}

.nav-right {
    justify-content: flex-end;
    display: flex;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 84px;
    background: var(--main-color);
    transition: 0.3s;
    z-index: 10;
}

.nav-list.active {
    left: 0;
}

.nav-item {
    height: 120px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    font-weight: 500;
    line-height: 120px;
    display: inline-block;
}

.nav-item:hover {
    background: var(--main-color-dark);
}

.nav-link {
    color: var(--accent-two);
    width: 100%;
    height: 100%;
    display: block;
    align-self: center;
}

.nav-link:hover {
    text-decoration: none;
}


.hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
}






/* MAIN ****************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/


main {
    /*display: none;*/
}


/* Hero **************************************************************/
/*********************************************************************/

.hero-container {
    position: relative;
}

.hero-img-container {
    height: 330px;
    background: var(--accent-two);
    margin-bottom: 300px;
}

.hero-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-card {
    position: absolute;
    left: 50%;
    bottom: -14rem;
    transform: translateX(-50%);
    width: 560px;
    max-width: 80%;
    height: min-content;
    border: 8px solid var(--accent-one);
    border-radius: 30px;
    background: white;
    z-index: 1;
    padding: 24px;
    text-align: center;
}


.hero-title {
    font-size: 30px;
}

.hero-subtitle {
    font-size: 50px;
}

.hero-card-content {
    display: flex;
    flex-direction: column;
}

.hero-button-link, .hero-button-link:hover {
    text-decoration: none;
    color: black;
}

.hero-button {
    background: var(--accent-one);
    margin: 20px auto 0;
    padding: 10px;
    width: 180px;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}



/* Beach *************************************************************/
/*********************************************************************/

.beach-container {
    padding: 0 50px;
}

.beach-img {
    display: block;
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
}

.beach-description {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}



/* Weather ***********************************************************/
/*********************************************************************/

.weather-container {
    padding: 0 20px;
    margin-top: 40px;
}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 2px 10px #000000;
    background-color: var(--main-color);
    max-width: 600px;
    margin: 40px auto;
}

.weather-title {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.current-weather {
    text-align: center;
}

.weather-info * {
    font-size: 24px;
    margin-bottom: 10px;
}

.forecast {
    margin-top: 20px;
    width: 100%;
    height: min-content;
}

.forecast-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.forecast-info * {
    text-align: center;
}

.date {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 650;
}

.min-max-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.daily-temps-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.daily-temps-container * {
    font-size: 18px;
}


/* Weather ***********************************************************/
/*********************************************************************/

.score-card {
    margin: 30px auto;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    max-height: min-content;
}


/* Fresh Page Form ***************************************************/
/*********************************************************************/

#drink-order-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 600px;
    margin: 20px auto;
    padding: 1rem;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
}

.fresh-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.fresh-input, .fruit-select, #instructions {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0069d9;
}

textarea {
    height: 100px;
}

.fruit-selection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.fresh-out {
    font-size: 20px;
    max-width: 100%;
}

#output-area {
    margin: 30px auto;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    padding: 20px;
    max-width: 300px;
    display: none;
    max-height: min-content;
}

.output-calc-val {
    display: inline-block;
}

.special-instructions-out {
    max-width: 300px;
}

#special-instructions {
    display: block;
}




/* About Us **********************************************************/
/*********************************************************************/

/* Style header */
#about-us-heading {
    background-color: var(--main-color);
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 36px;
    text-align: center;
}

/* Style content sections */



.history-text,
.area-text,
.contact-text {
    margin-bottom: 20px;
}

.history-text p,
.area-text p,
.contact-text p {
    margin-bottom: 10px;
}





.about-us-title {
    color: var(--main-color);
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
}

.about-us-paragraph {
    margin: 15px auto;
}

.about-us-container {
    padding: 40px;
}

.about-us-section {
    margin: 60px auto;
}





/* FOOTER **************************************************************************************************/
/***********************************************************************************************************/
/***********************************************************************************************************/


footer {
    background-color: var(--main-color);
    padding: 50px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-title {
    font-weight: 1000;
    font-size: 26px;
    margin-bottom: 11px;
}

.footer-side-item {
    margin-top: 32px;
    min-height: 200px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Join The Wave *****************************************************/
/*********************************************************************/

.join-the-wave {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.join-title {
    font-size: 60px;
    font-weight: 1000;
}

.join-message {
    margin-left: 20px;
}

.join-the-wave form {
    display: flex;
    align-items: center;
}

.join-the-wave input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    flex: 1;
}

#footer-email-submit {
    padding: 10px 20px;
    background-color: var(--accent-one);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}


/* Contact Us ********************************************************/
/*********************************************************************/


.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 180px;
    min-height: 160px;
    /*gap: 10px;*/
}

.contact-info-items {
    margin-left: 10px;
}


/* Socials ***********************************************************/
/*********************************************************************/



.social-media ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-media li {
    margin-right: 10px;
}

.social-media li a {
    color: black;
}


.footer-socials-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}




/* Bottom ************************************************************/
/*********************************************************************/

.legal-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 0;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.legal-info * {
    margin: 0 6px;
}

.legal-link {
    color: black;
}