
:root {
    --header-grad-size: 5px;
    --menuColor: #0B0A0A;
    --accentColor: #D99308;
    --bgColor: #201F1D;
    --textColor: white;

    --np: #01FFBE;
    --bronze: #CD7F32;
    --silver: #C0C0C0;
    --gold: #D7BE69;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: 'Maven Pro', Veranda, sans-serif;
    background: var(--bgColor);
    color: var(--textColor);
}

/*header, footer{*/
/*    background-color: #03045E;*/
/*    color: white;*/
/*    text-shadow: 1px 1px 4px #1B172577;*/
/*}*/

/*header * a, header * a:visited,*/
/*footer * a, footer * a:visited {*/
/*    color: white;*/
/*    text-decoration: underline white;*/
/*}*/

.bold {
    font-weight: bold;
}


/*HEADER----------------------------------------------------*/
/*----------------------------------------------------------*/

/*Top Section---------------*/

#home-banner {
    display: none;
    text-align: center;
    font-size: 20px;
    background-color: var(--accentColor);
    color: var(--menuColor);
    padding: 5px;
}

/*.top-header-flex {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 23px 22px 22px;*/
/*    box-shadow: 0 5px 0 #023785 inset,*/
/*    0 10px 0 #022A7B inset,*/
/*    0 15px 0 #03176D inset;*/
/*    align-items: flex-start;*/
/*}*/

/*.header-brand-flex {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

header {
    background: var(--menuColor);
}

a {
    color: var(--textColor);
    text-decoration: none;
}


/*Fat (Hero) Section---------------*/

.fat-box {
    /*padding: 90px 22px 90px 22px;*/
    /*line-height: 1.5;*/
    /*width: 100%;*/
}

.fat-slogan {
    font-size: 52px;
}

.fat-subtitle {
    font-size: 24px;
    margin: 38px 0;
}

#fat-message {
    /*display: none;*/
    /*text-shadow: none;*/
}

.fat-get-started {
    /*display: none;*/
}

.fat-get-started {
    text-align: right;
    width: fit-content;
}

.fat-button {
    cursor: pointer;
    /*display: block;*/
    /*padding: 10px;*/
    /*margin: 20px auto 0;*/
    border: 2px solid var(--menuColor);
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--menuColor);
    color: var(--accentColor);
    transition: 0.6s ease;
    letter-spacing: 2px;
    height: 30px;
    width: 120px;
    text-align: center;
}

#join-box-fat-container {
    text-align: center;
}

.fat-button:hover {
    border-bottom: 1px solid var(--accentColor);
}

.fat-button-container {
    text-align: right;
    padding: 20px;
}


.current-date {
    background-color: var(--accentColor);
    height: 28px;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    /*margin-top: 75px;*/
    color: var(--menuColor);
}


/*Nav Section---------------*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 75px;
    line-height: 75px;
    /*border-bottom: 1px solid var(--accentColor);*/
    position: relative;
}

.nav-logo {
    color: var(--textColor);
    font-family: Acme serif;
    font-size: 50px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 75px;
    background: var(--menuColor);
    border-top: 1px solid var(--accentColor);
    transition: 0.3s;
}

.nav-list.active {
    left: 0;
}

.nav-item {
    height: 100px;
    cursor: pointer;
    padding: 16px 30px;
    transition: 0.3s;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-item:hover {
    background: var(--accentColor);
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /*border: 1px solid white;*/
    border-radius: 20%;
    height: min-content;
    gap: 5px;
    /*padding: 3px 8px;*/
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background: var(--textColor);
    transition: 0.3s;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-link {
    text-shadow: 2px 2px 4px black;
    height: 100%;
    width: 100%;
    display: block;
}

.social-icon {
    width: 30px;
    height: 30px;
}

.socials {
    padding-top: 10px;
    height: 100%;
}


/*MAIN------------------------------------------------------*/
/*----------------------------------------------------------*/

/*General Section---------------*/

.main-container {
    padding: 0 35px;
}

.content-box {
    background: var(--menuColor);
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
    border-radius: 5px;
}

.accent-bar {
    background: var(--accentColor);
}

#main-flex {
    margin: 0 0 16px;
}

.home-box {
    background-color: var(--menuColor);
    height: auto;
    margin: 50px 0;
    color: var(--textColor);
    padding: 15px 20px 20px;
    /*border: 1px solid #9A989F;*/
    display: flex;
    flex-direction: column;
    /*background-color: #DDDDDD;*/
    border: 1px solid var(--accentColor);
}

.box-title {
    font-size: 26px;
    margin-bottom: 26px;
    font-weight: bolder;
}

.box-content {

}

.more-info {
    color: var(--accentColor);
}

/*Boxes--------------------*/

#event-box {

}

#weather-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#weather-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#weather-bar {
    width: 95%;
    height: 1px;
    align-self: center;
    margin: 15px 0;
}

.weather-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#news-box {

}

#join-box {
    display: none;
}

#spotlight-big-box {
    display: flex;
    flex-direction: column;
}

.spotlight-box {
    height: auto;
    /*padding: 10px 0;*/
    text-align: center;
}

.spotlight-box > .box-title {
    margin-bottom: 0;
}

.spotlight-slogan {
    /*margin: 12px 0;*/
    font-style: italic;
}

.spotlight-logo {
    margin: 14px 0;
}

.spotlight-logo > img {
    width: 160px;
    height: auto;
}

.spotlight-bar {
    margin: 10px 30px;
    height: 1px;
    width: auto;
}

.spotlight-contact div {
    margin-bottom: 10px;
}

#spotlight-1 {

}

#spotlight-2 {
    margin-top: 30px;
}

#spotlight-3 {
    display: none;
}


/*Discover Page---------------*/

.discover-box {
    text-align: center;
    /*position: relative;*/
}

.stats {
    text-align: center;
    background-color: var(--menuColor);
    padding: 10px;
}

#stats-title {
    font-size: 50px;
    text-decoration: underline;
    padding: 10px 0 20px;
}

.stat-box {
    font-weight: 600;
    font-size: 34px;
    padding: 10px 0;
}

.stat-value {
    font-style: italic;
    font-weight: initial;
}

.discover-img-container {
    display: inline;
}

.discover-img-container:hover .discover-img {
    opacity: 40%;
}

.discover-img {
    width: 70%;
    transition: 0.4s ease;
}

.discover-img-title {
    font-size: 48px;
    margin: 35px 0 10px 0;
}

.discover-img-subtitle {
    /*opacity: 40%;*/
    margin: 5px 0 35px 0;
    z-index: -1;
}


/*Join Page---------------*/

#join-page-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*justify-content: left;*/
    justify-content: flex-start;
    align-items: center;
}

#join-form {
    margin: 10px 60px;
    max-width: 40vw;
}

#form-name-section,
#form-contact-section,
#form-business-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-item-container {
    margin: 0 2%;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: bold;
}

#business-description-container {
    width: 80%;
}

#business-description {
    width: 100%;
    height: 80px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    /*width: 100%;*/
    padding: 5px;
    border: 1px solid var(--accentColor);
    background: var(--bgColor);
    border-radius: 5px;
    font-size: 16px;
    display: block;
    min-width: 207px;
    color: var(--textColor);
}


.select-options {
    color: var(--textColor);
    background: #1E252B;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 1px solid #0066cc;
    background: #0080FF10;
}

input[type="submit"] {
    display: block;
    width: 100%;
    max-width: 200px;
    height: 50px;
    padding: 10px;
    margin: 20px auto 0;
    border: 2px solid var(--menuColor);
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--menuColor);
    color: var(--accentColor);
    cursor: pointer;
    transition: 0.6s ease;
    letter-spacing: 2px;
}

input[type="submit"]:hover {
    border-color: var(--accentColor);
}

#benefits {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 70px auto 30px;
}

#benefits-title {
    text-align: center;
    border-radius: 30px 30px 0 0;
    height: 50px;
    padding: 12px;
    font-size: 24px;
    color: white;
    background: var(--menuColor);
}

#benefits-bottom {
    border-radius: 0 0 30px 30px;
    height: 50px;
    padding: 12px;
    font-size: 24px;
    color: white;
    background: var(--menuColor);
}

#all-benefits {
    border-left: 2px solid var(--menuColor);
    border-right: 2px solid var(--menuColor);
}

.benefit-level {
    text-align: center;
    padding: 10px 5px;
}

.benefit-description {
    margin-bottom: 5px;
}

.benefit-label-title {
    font-size: 20px;
    margin: 10px 0;
}

#np-membership {
    background: var(--np);
    color: black;
}

#bronze-membership {
    background: var(--bronze);
    color: black;
}

#silver-membership {
    background: var(--silver);
    color: black;
}

#gold-membership {
    background: var(--gold);
    color: black;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}


/*Thankyou Page---------------*/

#thankyou-content {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}

#thankyou-title {
    font-size: 40px;
    margin-bottom: 10px;
}

.thankyou-msg {
    margin: 10px 0;
    text-align: left;
    line-height: 1.5;
    font-size: 18px;
}

#thankyou-signature {
    margin: 25px 0 60px;
    font-size: 20px;
}


/*Directory Page---------------*/

#directory-page {
    padding: 10px 60px;
}

.directory-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.directory-card {
    /*border: 2px solid #CCCCCC;*/
    background: var(--menuColor);
    border-radius: 10px;
    /*box-shadow: 0 0 2px #022A7B;*/
    margin: 15px;
    padding: 20px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.directory-card h2 {
    margin: 5px 0;
}

.directory-card p {
    margin: 10px 0;
}

.directory-card .membership {
    font-weight: bold;
    text-transform: uppercase;
}

.directory-card .np {
    background: var(--np);
    color: black;
}

.directory-card .bronze {
    background: var(--bronze);
    color: black;
}

.directory-card .silver {
    background: var(--silver);
    color: black;
}

.directory-card .gold {
    background: var(--gold);
    color: black;
}

.company-thumbnail {
    align-self: center;
    height: 120px;
    width: 120px;
}

.company-bar {
    width: 100%;
    height: 1px;
    background: var(--accentColor);
    margin: 20px 0;
}

.company-name {

}

.company-address {

}

.company-phone {
    font-style: italic;
}

.company-membership-level {
    margin: 0 auto;
    display: block;
    width: fit-content;
    padding: 2px 6px;
}

.company-url {

}


/*Contact Page---------------*/


.contact-page {
    padding: 10px 50px
}


.contact-page-section {
    padding: 50px 0;
}

.contact-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.contact-us .contact-info {

    /*flex-grow: 2;*/

    background: var(--accentColor);
    color: var(--menuColor);
    padding: 40px 0 50px 20px;
    min-width: 230px;
    max-width: 270px;
    width: 270px;
}

.contact-map {
    flex-grow: 0.5;
    min-width: 370px;
}

.contact-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

#address-top {
    margin-bottom: 0;
}

.contact-link {
    color: var(--accentColor);
    text-decoration: none;
    transition: all 0.3s ease;
}

.general-inquiries a:hover {
    text-decoration: underline
}

/* contact info section styles */

.contact-info-detail {
    margin-bottom: 20px;
}

.contact-info-img {
    width: 100%;
    margin-bottom: 20px;
}

/* general inquiries section styles */
.general-inquiries {

}

.inquiry-type {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
}

.inquiry-type-heading {
    font-size: 24px;
    margin-bottom: 16px;
}

/* get in touch section styles */

#contact-form {
    margin: 10px 60px;
    max-width: 40vw;
}

.contact-form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.get-in-touch {
    padding: 50px;
}

.get-in-touch h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.get-in-touch form {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.radio-item {
    display: flex;
    flex-direction: row;
}

.radio-label {
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.get-in-touch input,
.get-in-touch select,
.get-in-touch textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.get-in-touch .radio-container {
    display: flex;
    margin-bottom: 20px;
}

.get-in-touch .radio-container label {
    margin-right: 20px;
}

.get-in-touch .radio-container input[type="radio"] {
    margin-right: 5px;
}

.get-in-touch .message-container {
    width: 100%;
    margin-bottom: 20px;
}

.get-in-touch .submit-container {
    width: 100%;
    text-align: center;
}

#inquiry-box-container {
    width: 80%;
}

#inquiry-box {
    width: 100%;
    height: 80px;
}


/*FOOTER----------------------------------------------------*/
/*----------------------------------------------------------*/

/*General Section---------------*/

.footer-flex {
    padding: 28px 16px 16px;
    display: flex;
    flex-direction: column;
    background: var(--menuColor);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
    font-size: 18px;
    /*height: 100px;*/
}

.footer-nav-logo {
    color: var(--textColor);
    font-family: Acme serif;
    font-size: 70px;
    padding: 0 5px;
    border: 4px solid var(--accentColor);
    border-radius: 20px;
    margin-right: 16px;

}

.footer-middle {
    text-align: center;
}

.footer-bottom {
    text-align: center;
}

.footer-bar {
    height: 1px;
    width: 95%;
    align-self: center;
    margin: 32px 0;
}

.footer-title > * {
    height: 100%;
}

.footer-title {
    width: 60%;
    text-align: right;
    font-size: 16px;
}

.footer-logo {
    margin-right: 16px;
    width: 90px;
    height: 90px;
}


#lastVisit {
    margin: 12px 0;
    font-size: 16px;
}