@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


:root {
    --header-grad-size: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 0.1px solid #FF000077;*/
}

body {
    font-size: 16px;
    font-family: 'Maven Pro', Veranda, sans-serif;
    background-color: white;
}

header, footer{
    background-color: #03045E;
    color: white;
    text-shadow: 1px 1px 4px #1B172577;
}

header * a, header * a:visited,
footer * a, footer * a:visited {
    color: white;
    text-decoration: underline white;
}

.bold {
    font-weight: bold;
}





/*HEADER----------------------------------------------------*/
/*----------------------------------------------------------*/

/*Top Section---------------*/

#home-banner {
    display: none;
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 5px;
}

.top-header-flex {
    display: flex;
    justify-content: space-between;
    padding: 23px 22px 22px;
    box-shadow: 0 5px 0 #023785 inset,
    0 10px 0 #022A7B inset,
    0 15px 0 #03176D inset;
    align-items: flex-start;
}

.header-brand-flex {
    display: flex;
    flex-direction: row;
}

#nav-logo {
    width: 52px;
    height: 52px;
}

.header-city {
    font-size: 22px;
    width: 150px;
    margin: 0 5px;
    height: 52px
}

.header-socials-flex {
    display: flex;
    justify-content: right;
}

.header-socials-flex * {
    height: 52px;
    width: 52px;
}

.nav-open-logo img {
    height: 2rem;
    width: 2rem;
}

.menu-button {
    cursor: pointer;
    height: 52px;
    width: 52px;
}

.material-symbols-rounded {
     font-variation-settings:
             'FILL' 0,
             'wght' 700,
             'GRAD' 0,
             'opsz' 48;
}


/*Fat (Hero) Section---------------*/

.fat-box {
    /*padding: 90px 22px 90px 22px;*/
    /*line-height: 1.5;*/
    /*width: 100%;*/

}

.fat-slogan {
    font-size: 52px;
}

.fat-subtitle {
    font-size: 24px;
    margin: 38px 0;
}

#fat-message {
    display: none;
    text-shadow: none;
}

.fat-get-started {
    /*display: none;*/
}

.nav-header-flex {
    display: flex;
}

.nav-open-logo {
    flex-grow: 1;
}

.fat-get-started {
    text-align: right;
}

.social-icon {

}

#current-date {
    background-color: #0080FF;
    height: 1.5rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}


/*Nav Section---------------*/

nav list {
    list-style-type: none;
    overflow: hidden;
}

.nav-item {
    margin: 25px 5px;
    padding: 15px 8px;
    background-color: #022A7B;
    border: 1px solid #00000066;
    width: 240px;
    transition: 0.5s;
    opacity: 80%;
}

.nav-item:hover {
    opacity: 100%;
}

.nav-link, .nav-link:visited {
    text-decoration: none;
    color: white;
    text-shadow: none;
}


nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #999999;
    text-align: left;
    font-size: 3rem;
    padding: 16px;
}






/*MAIN------------------------------------------------------*/
/*----------------------------------------------------------*/

/*General Section---------------*/

#main-flex {
    margin: 0 0 16px;
}

#population {
    font-size: 50px;
    text-align: center;
    background-color: #022A7B;
    color: white;
    padding: 10px;
}

.home-box {
    /*background-color: #D81E5B;*/
    height: auto;
    margin: 50px 16px;
    color: #1B1725;
    padding: 5px;
    /*border: 1px solid #9A989F;*/
    display: flex;
    flex-direction: column;
    /*background-color: #DDDDDD;*/
    border: 1px solid #9A989F;
}

.box-title {
    font-size: 26px;
    margin-bottom: 26px;
    font-weight: bolder;
}

.box-content {

}

.more-info {
    color: #D81E5B;
}

/*Boxes--------------------*/

#event-box {

}

#weather-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#weather-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#weather-bar {
    width: 95%;
    height: 1px;
    background-color: #00000055;
    align-self: center;
    margin: 15px 0;
}

.weather-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#news-box {

}

#join-box {
    display: none;
}

#spotlight-big-box {
    display: flex;
    flex-direction: column;
}

.spotlight-box {
    height: auto;
    /*padding: 10px 0;*/
    text-align: center;
}

.spotlight-box > .box-title {
    margin-bottom: 0;
}

.spotlight-slogan {
    /*margin: 12px 0;*/
    font-style: italic;
}

.spotlight-logo {
    margin: 14px 0;
}

.spotlight-logo > img {
    width: 160px;
    height: auto;
}

.spotlight-bar {
    margin: 10px 30px;
    height: 1px;
    width: auto;
    border-bottom: 1px solid #00000044;
}

#spotlight-1 {

}

#spotlight-2 {
    margin-top: 30px;
}

#spotlight-3 {
    display: none;
}


/*Discover Page---------------*/
.discover-box {
    text-align: center;
}

.discover-img {
    width: 100%;
}

.discover-img-title {
    font-size: 48px;
    color: black;
    margin: 35px 0 10px 0;
}

.discover-img-subtitle {
    opacity: 40%;
    margin: 5px 0 35px 0;
}



/*FOOTER----------------------------------------------------*/
/*----------------------------------------------------------*/

/*General Section---------------*/

.footer-flex {
    padding: 28px 16px 16px;
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
    font-size: 18px;
    height: 100px;
}

.footer-middle {
    text-align: center;
}

.footer-bottom {
    text-align: center;
}

.footer-bar {
    height: 1px;
    width: 95%;
    align-self: center;
    background-color: #FFFFFF88;
    margin: 32px 0;
}

.footer-title > *{
    height: 100%;
}

.footer-title {
    width: 60%;
    text-align: right;
    font-size: 16px;
}

.footer-logo {
    margin-right: 16px;
    width: 90px;
    height: 90px;
}




#lastVisit {
    margin: 12px 0;
    font-size: 16px;
}