@media screen and (min-width: 992px) {

    .header-city {
        display: none;
    }



    #main-flex {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin: 16px;
    }

    #main-flex > div {
        margin: 0;
    }

    .nav-list {
        position: static;
        flex-direction: row;
        height: 100%;
        width: 80%;
        border-top: none;
    }

    .nav-item {
        height: 100%;
        align-items: center;
        padding-bottom: 45px;
        padding-top: 0;
    }

    .hamburger {
        display: none;
    }

    #event-box {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;

    }

    .fat-box {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
        justify-content: space-between;
    }

    #fat-message {
        display: block;
    }

    #weather-box {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    #join-box {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        display: block;
    }

    #news-box {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    #spotlight-big-box {
        grid-column: 3 / span 1;
        grid-row: 1 / span 3;
        justify-content: space-between;
    }

    .home-box, .fat-box {
        height: 100% !important;
        width: 100%;
        margin: 16px;
        display: flex;
        flex-direction: column;

    }

    .spotlight-box > .box-title {
        font-size: 18px;
    }

    .spotlight-logo-description {
        display: none;
    }

    .spotlight-logo > img {
        width: 100px;
        height: auto;
    }

    #spotlight-2 {
        margin-top: 7px;

    }

    #spotlight-3 {
        display: block;
        margin-top: 7px;
    }

    .spotlight-box {

    }

    #nav-logo {
        height: 8em;
        width: 8em;
    }

    .material-symbols-outlined {
        display: none !important;
    }




    /*FOOTER----------------------------------------------------*/
    /*----------------------------------------------------------*/

    /*General Section---------------*/

    .footer-flex {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 24px;
    }

    .footer-top {
        justify-content: left;
        font-size: 18px;
        height: 96px;
        margin: 16px 0;
        width: 50%;
    }

    .footer-title {
        text-align: left;
    }

    .footer-bar1 {
        display: none;
    }

    .footer-middle {
        text-align: right;
        width: 50%;
        height: 96px;
        margin: 16px 0;
    }

    .footer-bottom {
        text-align: center;
        width: 100%;
    }


}