 * {
     margin: 0;
     padding: 0;
     border: 0;
     list-style: none;
     text-decoration: none;
 }

 a:visited {
     text-decoration: none;
     color: white;
 }

 body {
     background: #201F1D;
 }

 .nav-flex {
     display: flex;
     justify-content: space-between;
     padding: 0 8%;
     background: #0B0A0A;
     height: 75px;
     line-height: 75px;
     border-bottom: 1px solid #D99308;
 }

 .nav-logo {
     color: white;
 }

 .nav-list {
     display: flex;
 }

 .nav-list .nav-item {
     cursor: pointer;
     height: 100%;
     color: white;
     padding: 0 40px;
     transition: 0.2s;
     font-size: 18px;
 }

 .nav-list .nav-item:hover {
     background: #D99308;
 }

 .nav-socials {
     display: flex;

 }

 .nav-socials .social-item {
     background: white;
     height: 20px;
     width: 20px;
     margin: 0 5px;
 }

 .nav-toggle {
     display: none;
     height: min-content;
     margin: 15px -10px 0 0;
 }

 .nav-toggle .bar {
     width: 40px;
     height: 5px;
     margin: 5px 0;
     background: white;
     border-radius: 10%;
     transition: 0.4s;
     cursor: pointer;
 }


 @media screen and (max-width: 975px) {
     .nav-flex {
         padding: 0 35px;
     }

     .nav-list .nav-item {
         padding: 0 25px;
     }
 }


 @media screen and (max-width: 675px) {
     /*.nav-list {*/
     /*    flex-direction: column;*/
     /*    display: grid;*/
     /*    position: absolute;*/
     /*    width: 100%;*/
     /*    top: 75px;*/
     /*    left: 0;*/
     /*    background: #0B0A0A;*/
     /*    transform: translateY(-100%);*/
     /*    z-index: -1;*/
     /*    transition: 0.6s;*/
     /*}*/

     .nav-list .nav-item {
         padding-left: 35px;
     }

     .nav-toggle {
         display: grid;
     }

     .nav-socials {
         display: none;
     }

     input {
         display: none;
     }

     input:checked ~ nav .nav-list {
         transform: translateY(0);
     }

     input:checked ~ nav .nav-toggle {
         margin-top: 30px;
     }

     input:checked ~ nav .nav-toggle .bar:nth-child(1){
         position: absolute;
         transform: rotate(45deg);
     }

     input:checked ~ nav .nav-toggle .bar:nth-child(2){
         display: none;
     }

     input:checked ~ nav .nav-toggle .bar:nth-child(3){
         transform: rotate(-45deg);
     }
 }