:root {
    --border-rad: 25px;
    --card-bord: 2px solid #395C6B;
}

body {
    text-align: center;
    padding: 0;
    margin: 0 30px;
}

/*body * {*/
/*    !*border: 2px solid orangered;*!*/
/*    font-family: "Merriweather", "Courier New", "Times New Roman", sans-serif;*/
/*    font-size: 22px;*/
/*    color: black;*/
/*}*/

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #2567e0;
    border-radius: 0 0 35px 35px;
    box-shadow: 7px 7px 7px darkgrey;
}

main {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    background-color: #2567e0;
    border-radius: 35px 35px 0 0;
    box-shadow: 7px 7px 7px darkgrey;
    padding: 25px;
}

footer * {
    color: #FFEBC2;
}

#footer_1, #footer_1 * {
    font-size: 40px;
}

#footer_2, #footer_2 * {
    font-size: 30px;
}

#header_img {
    width: 200px;
    height: auto;
    margin: 10px 30px;
    box-shadow: 2px 2px 10px black;
}

#header_title {
    margin: auto;
    text-shadow: 2px 2px 4px black;
}

#header_title h1 {
    color: #FFEBC2;
    font-size: 100px;
    margin: 0;
}

h2 {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 5px;
}

#assignment_list {
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 0;
}

#assignment_list li {
    margin: 5px;
}

#assignment_list ul {
    margin: 15px;
}


/*----------------------------------LESSON 2*/
/*----------------------------------*/
/*----------------------------------*/

#lesson2-header {
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

#lesson2-header h1 {
    margin: 0;
    padding-top: 22px;
}
#lesson2-header h2 {
    margin: 0;
    padding: 22px;
}

.cards {
    display: grid;
}

.card h1 {
    color: #BCD3F2;
    font-size: 50px;
    background-color: #395C6B;
    margin-top: 0;
    padding-top: 34px;
    padding-bottom: 12px;
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    border: var(--card-bord);
    border-left: none;
    border-right: none;
    border-top: none;
}

.card h2 {
    color: #395C6B;
    font-size: 30px;
}

.card {
    border: var(--card-bord);
    background-color: #BCD3F2;
    border-radius: var(--border-rad);
    width: 95%;
}

.lesson-2-img {
    width: 90%;
}

.lesson-2-img-container {
    text-align: center;
}

@media screen and (min-width: 576px){
    .cards {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px){
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.container {
    font-family: 'Roboto', sans-serif;
}
